<copyright class="fw-lighter fst-italic fs-6">
  <span><i class="bi bi-c-circle"> &emsp;Copyright:</i></span>
  <span class="">本站文章除特别声明外,均采用
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
    许可协议.
  </span>
  <span>本站每一个文字都是参考自己、互联网和书本，如有关于版权问题请联系我。</span>
  <span>本人不对发表内容的真实性负责，请正确查证。</span>
  <br>
</copyright>
