<div class="pt-5 border-top position-relative">
  <span class="position-absolute top-50 start-0 translate-middle-y">
    <a href="https://hexo.io">Hexo</a> &copy; 2022 Themes by
    <a href="https://github.com/binglinli/crucian">crucian</a>
  </span>
  <span class="position-absolute top-50 end-0 translate-middle-y">
    <a href="https://github.com/binglinli"><i class="bi bi-github link-success"></i></a>
  </span>
</div>
