$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: true,
      values: auto pointer grab,
    )
  )
)

/* unvisited link */
a:link {
  color: #393f4c;
  background-color: #a2d7dd;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #393f4c;
  background-color: #a2d7dd;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #393f4c;
  background-color: #a2d7dd;
  text-decoration: none;
  
}

/* selected link */
a:active {
  color: #393f4c;
  background-color: #a2d7dd;
  text-decoration: none;
}
