<div class="card p-5 rounded-5 shadow-lg mt-3">
  
  <div class="card-body">
    
    <h3 class="card-title"><%- page.title %></h3>
    
    <span>
      <i class="bi bi-calendar-heart rounded-pill badge text-white bg-secondary opacity-25">
	<%- full_date(page.date,'MMMM Do YYYY') %>
      </i>
    </span>
    
    <span class="card-text">
      <%- page.content%>
    </span>

  </div>
</div>
