<div class="container">
  <%- list_tags(site.tags,
    {
      class:{
	label: 'breadcrumb-item',
	a: 'breadcrumb',
	count: ' breadcrumb-item'
      },
      style: false,
      separator: ''
    }
  ) %>
</div>
