<div class="card mb-3">
  <img src="<%- url_for('/img/whispers-header-bg-01.jpg') %>" class="card-img-top" alt="...">
  <div class="card-body">
    
    <h2 class="card-title rwd-whispers-header"><%- page.title %></h2>
    
    <div class="card-text rwd-whispers-text">
      <%- page.content %>
    </div>
    
  </div>
</div>
