<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title rwd-whispers-header"><%- page.title %></h2>
    
    <div class="card-text rwd-whispers-text">
      <%- page.content %>
    </div>
    
  </div>
</div>
